HELP.md

# Build
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# Env files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDEs
### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Docker (optional)
docker-compose.override.yml

# Misc
*.swp
*.swo
*~